#search-container{
  border-radius: 10px;
  width: 100%;
}

#submit{
width: 10%;

}
#search {
  width: 90%;
  font-size: 1em;
  padding: 0 10px;
}

#results{
  width: 100%;
  z-index: 2;
}

.results {
  display: inline-block;
  width: 30%;
  margin-top: 0%;
}
.results li {
  list-style-type: none;
}

.results li img {
  width: 5%;
  height: 5%;
  display: inline;
}

.results li h5 {
  display: inline;
}



