<app-header-image-search></app-header-image-search>

<section class="content">
    <img [src]="album.images | noimage" alt="{{album.name}}">
    <div class="description">
      <h1>{{album.name}}</h1>
      <h3>{{album.artist.name}} - {{album.release_date}}</h3>
    </div>

    <nav>
      <a [routerLink]="['/']">Home</a>
      <a [routerLink]="['/Artists']">Artists</a>
      <a [routerLink]="['/Artists/Artist']">Artist name</a>
      <a [routerLink]="['/Artists/Artist/Album']">Album name</a>

    </nav>

</section>


<section class="content">
  <div id="cdList">
      <ng-template [ngIf]="discs.length > 0">
        <div id="cdsTables">
            <button (click)="getPreviousPage()">&laquo; Previous</button>
            <span id="pagination" *ngFor="let i of arrayPage">
                <button  (click)="getPage(i)">{{i + 1}}</button>  
            </span>
              <button (click)="getNextPage()">Next &raquo;</button>
        
              <p>Total tracks: {{total}}</p>
              
            <div >
              <table class="cdsTable" *ngFor="let cd of discs">
                <tr>
                  <th colspan="3">CD {{ cd.disc_number}}</th>
                </tr>
                <tr *ngFor="let track of cd.tracks; index as i;">
                  <td>{{track.track_number}}</td>
                  <td class="songName">{{track.name}}</td> 
                  <td class="addToFavourite">
                      <i class='fas fa-star'></i>
                      <i class='far'>&#xf005;</i>
                  </td>
                </tr>
              </table>

            </div>
    
        </div>
      </ng-template>

  </div>
</section>
