<app-header-image></app-header-image>
<section id="content">
  <h3>Welcome to</h3>
  <h1>{{ title }}</h1>
  <h3>Search your favourite songs over Spotify. Just enter an Artist´s name in the following search book and enjoy!</h3>

  <app-search [placeholder]= "placeholder"></app-search>

  <div id="favourites">
    <h2>Favourite Songs</h2>
    <div id="favourite_items">
      <div class="favourite_item">
        <img src="" alt="Album">
        <div class="description_item">
          <h6>Song name</h6>
          <p>Artist: artist name</p>
          <p>Album: album name</p>
        </div>
      </div>

    </div>
  </div>

</section>
