<app-header-image-search></app-header-image-search>

<section class="content">
    <img src="" alt="Album">
    <div class="description">
      <h1>Artist name</h1>
      <h3>Artist gender</h3>
    </div>



</section>


<section class="content">
  <div id="albumsList">

    <div id="albumsItems">
      <div class="albumsItem">
        <img src="" alt="Album">
        <div class="description">
          <h3>Album name</h3>
          <p>Album year</p>
        </div>
      </div>

    </div>
  </div>
</section>
