<app-header-image-search></app-header-image-search>

<section class="content">
    <img [src]="artist.images | noimage" alt="{{artist.name}}">
    <div class="description">
      <h1>{{artist.name}}</h1>
      <h3>{{artist.genres.join(", ")}}</h3>
    </div>



</section>


<section class="content">
  <div id="albumsList">
    <ng-template [ngIf]="albums.length > 0">
      <button (click)="getPreviousPage()">&laquo; Previous</button>
      <span id="pagination" *ngFor="let i of arrayPage">
          <button  (click)="getPage(i)">{{i + 1}}</button>  
      </span>
        <button (click)="getNextPage()">Next &raquo;</button>
  
        <p>Total albums: {{total}}</p>
  
  
    <div id="albumsItems"  *ngFor="let album of albums">
      <div class="albumsItem">
        <a [routerLink]="['/Album', term, album.id]">
          <img [src]="album.images | noimage" alt="{{album.name}}">
          <span class="description">
            <h3>{{album.name}}</h3>
            <p>{{album.release_date}}</p>
          </span>
        </a>
      </div>
  
    </div>

    </ng-template>

  </div>
</section>
