.container {
  margin: 0 auto;
  width: 90%;
}

.column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media show and (min-width: 400px)  {
  .third ,
  .two-thirds { 
    width: 100%; 
  }
}
@media show and (min-width: 600px)  {
  .third, 
  .two-thirds { 
    width: 50%; 
  }
}

.column.third { 
  width: 30%; 
}
  
.column.two-thirds { 
  width: 60%; 
}


.top-text{
   font-size: 14px !important;
}

.gallery {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
}

.image-container {
  position: relative;
    padding: 8px;
  }
  
  img {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
  }
  
  .show {
    left: 0;
    top: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .show:hover {
    opacity: 1;
  }
  .text {
  color:black;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  background-color: #ffffe6;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: -30px;
  padding: 5%;
  margin-top: 0;
}

.show:hover .text {
  margin-left: 0;
}

