.content {
  display: block;
  margin: 0 auto;
  padding: 5% 10%;
  border: 0.5em solid black;
}

.artistItem{
  display: inline-block;
  width: 47%;
  margin-right: 1em;
  border: 1px solid black;
}

.artistItems img{
  width: 50%;
  border: 1px solid black;
}

.description_item{
  width: 50%;
}
