.content {
  display: block;
  margin: 0 auto;
  padding: 5% 10%;
  border: 0.5em solid black;
}

#pagination > button{
  display: inline;
}

#artistsList{
  width: 100%;
}

.artistItems{
  width: 100%;
  display: flex;
}

.artistItem{
  display: inline-block;
  width: 40%;
  margin-bottom: 1px;
  margin-right: 1px;
  border: 1px solid black;
}

.artistItem img{
  width: 5%;
  height: 5%;
  display: inline;
  border: 1px solid black;
}

.description_item{
  width: 40%;
  display: inline;
}
