<app-header-image></app-header-image>
<section class="content">
  <h1>Artists</h1>
  <h3>You are currently searching: "{{ term }}"</h3>

  <app-search [placeholder] = "placeholder"></app-search>

</section>


<section class="content">
  <div id="artistsList">
    <ng-template [ngIf]="artists.length > 0">
      <button (click)="getPreviousPage()">&laquo; Previous</button>
      <div *ngFor="let i of arrayPage">
          <button  (click)="getPage(i)">{{i + 1}}</button>  
        </div>
        <button (click)="getNextPage()">Next &raquo;</button>

      {{total}}

      
      <div id="artistItems" *ngFor="let artist of artists">
        <div class="artistItem">
              <a href="#">
                <img [src]="artist.images | noimage" alt="{{artist.name}}">
                <div class="description_item">
                  <h3>{{artist.name}}</h3>
                </div>
              </a>
              </div>
            </div>
        
      
    </ng-template>

  </div>
</section>
