<app-header-image></app-header-image>
<section class="content">
  <h1>Artists</h1>
  <h3>You are currently searching: "{{ term }}"</h3>

  <app-search [placeholder] = "placeholder"></app-search>

  <nav>
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/Artists' , term]">Artists</a>
  </nav>

</section>


<section class="content">
  <div id="artistsList">
    <ng-template [ngIf]="artists.length > 0">
      <button (click)="getPreviousPage()">&laquo; Previous</button>
      <span id="pagination" *ngFor="let i of arrayPage">
          <button  (click)="getPage(i)">{{i + 1}}</button>  
      </span>
        <button (click)="getNextPage()">Next &raquo;</button>

        <p>Total results: {{total}}</p>

      
      <div id="artistItems" *ngFor="let artist of artists">
        <div class="artistItem">
              <a [routerLink]="['/Artist', term, artist.id]">
                <img [src]="artist.images | noimage" alt="{{artist.name}}">
                <span >
                <h3 class="description_item">{{artist.name}}</h3>
                </span>
              </a>
              </div>
            </div>
        
      
    </ng-template>

  </div>
</section>
